#header {
  padding: 15px 70px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--imges {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    &--text {
      display: flex;
      align-items: center;
      gap: 30px;
      color: white;
      font-weight: bold;
    }
    &--top{
      display: flex;
      align-items: center;
      gap: 20px;
    }
    &--btn {
      display: flex;
      align-items: center;
      button {
        background: transparent;
        color: white;
        padding: 15px 40px;
        border-radius: 30px;
        border: solid 3px white;
        font-weight: bold;
      }
    }
    &--btn1{
      button{
         background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
         padding: 15px 40px;
        border-radius: 30px;
        border: solid 3px white;
        font-weight: bold;
      }
    }
  }
}
